.footer {
  background: #111122;
  color: #c9c7dc;
}

@media (max-width: 991.98px) {
  .footer-subscribe {
    width: 100%;
    margin-top: 24px;

    .input-group {
      width: 100%;
      max-width: 320px;
    }

    .form-control {
      color: #495057;
      background-color: #fff;
      border-color: #fff;

      &::placeholder {
        color: #6c757d;
        opacity: 1;
      }
    }
  }
}